.contact-item-list {
    list-style: none;
}

.contact-item {
    width: 300px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}